<!--
  Generated template for the QrpersonalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button (click)="_auth.salir()">Salir</button>
    </ion-buttons>
    <ion-title>QrAppMed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Scanner Qr - Personal</h1>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"><button ion-button>Escanear codigo Qr</button></ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="scan()"><ion-icon name="qr-scanner"></ion-icon>&nbsp;&nbsp;Escanear</button>
      </ion-col>
      <ion-col>
        <button color="otro" ion-button block (click)="limpiar()"><ion-icon name="medical"></ion-icon>&nbsp;Limpiar</button>
      </ion-col>
    </ion-row>
</ion-grid>

  <hr>
  <ion-list>
    <br>

    <ion-card *ngIf="mostrar" class="animated fadeIn">
      <ion-item>
        <h2 align="center"><b>{{ mensaje }}</b></h2>
      </ion-item>

      <!-- <img src="../../assets/imgs/entrar.jpg" width="150" height="300" /> -->
      <img [src]="img" width="150" height="300" />

      <ion-card-content>
        <b>Nombre:</b> {{ respuesta.nombre}} <br>
        <b>Apellido:</b> {{ respuesta.apellido }} <br>
        <b>Estado:</b> {{ respuesta.estado == true? 'Activo' : 'Inactivo'}} <br>  
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>