<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button (click)="_auth.salir()">Salir</button>
    </ion-buttons>
    <ion-title>
      QrAppMed
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Inicio</h1>
  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/user.png">
    </ion-avatar>
    <h2>{{usuario.nombre}}</h2>
    <p><b>C.I:</b>{{ usuario.cedula }}</p>
  </ion-item>

  <br>

  <ion-list>
    <ion-item>
      MARCAR ENTRADA
      <button ion-button item-end icon-start (click)="cambioColor('entrada')">
        <ion-icon name="md-return-left"></ion-icon>
        Entrada
      </button>
    </ion-item>
    <ion-item>
      MARCAR SALIDA
      <button color="danger" ion-button item-end icon-start (click)="cambioColor('salida')">
        <ion-icon name="md-return-right"></ion-icon>
        Salida
      </button>
    </ion-item>
  </ion-list>


  <hr>
  <button *ngIf="validation" class="animated fadeIn" color="{{color}}" ion-button block (click)="scan()">
    Realizar Scan
  </button>

  <!-- <hr>
  <button color="{{color}}" ion-button block (click)="postIngreso(1)">
    prueba
  </button>
  {{ formulario.value | json}} -->


</ion-content>