<!--
  Generated template for the GuardadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button (click)="_auth.salir()">Salir</button>
    </ion-buttons>
    <ion-title>QrAppMed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 (dblclick)="clearDate()">Historial</h1>
  <!-- {{ formulario.value | json}} -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <form novalidate [formGroup]="formulario">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-label fixed>F.Inicio</ion-label>
          <ion-datetime formControlName="start_date" value="2019-10-01T15:43:40.394Z" display-timezone="utc">
          </ion-datetime>
        </ion-col>
        <ion-col col-6>
          <ion-label fixed>F.Fin</ion-label>
          <ion-datetime formControlName="end_date" value="2019-10-01T15:43:40.394Z" display-timezone="utc">
          </ion-datetime>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-list>
    <!-- <ion-card *ngFor="let data of _com.arrayConsulta; let i = index"> -->
    <ion-card *ngFor="let data of items; let i = index">
      <ion-card-header>
        Area: {{ data.area }}
      </ion-card-header>
      <ion-card-content>
        Nombre: {{ data.name}}
        <br>
        Apellido: {{ data.apellidos }}
        <br>
        Fecha Hora: {{ data.fecha }}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>