<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <ion-list>
    <form novalidate [formGroup]="formulario">
    <ion-item>
      <ion-label color="primary" fixed>Nombre*</ion-label>
      <ion-input formControlName="name" placeholder="Ingrese Nombres"></ion-input>
    </ion-item>
    <!-- <div style="color: red; padding-top: 0.2rem" *ngIf="formulario.control.hasError('required')" class="danger" padding>El campo nombre es obligatorio.</div> -->
    <ion-item>
      <ion-label color="primary" fixed>Apellidos*</ion-label>
      <ion-input formControlName="apellidos" placeholder="Ingrese Apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Cédula*</ion-label>
      <ion-input type="number" formControlName="cedula" placeholder="Ingrese Cédula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Edad*</ion-label>
      <ion-input type="number" formControlName="edad" placeholder="Ingrese Edad"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary" fixed>Correo*</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Ingrese Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Contraseña*</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Ingrese Contraseña"></ion-input>
    </ion-item>

    <!-- <ion-item class="animated fadeIn">
      <ion-label>Rol</ion-label>
      <ion-select  formControlName="rol">
        <ion-option *ngFor="let item of cmbRoles" value="{{ item.id }}">{{ item.nombre }}</ion-option>
      </ion-select>
    </ion-item> -->
    </form>
  </ion-list>
  <div class="row" *ngIf="formulario.invalid">
    <ion-badge item-end color="danger">El botón se activará cuando complete toda la información</ion-badge>
  </div>
  <br>
  <button ion-button outline color="principal" block (click)="registrar()" [disabled]="formulario.invalid" >Guardar</button>
</ion-content>
