<!--
  Generated template for the MiqrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button (click)="_auth.salir()">Salir</button>
    </ion-buttons>
    <ion-title>QrAppMed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Mi Qr</h1>
  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/user.png">
    </ion-avatar>
    <h2>{{usuario.nombre}}</h2>
    <p><b>C.I:</b>{{usuario.cedula }}</p>
  </ion-item>
  <br>
  <br>
  <br>
  <div align="center">
    <qr-code [value]="cedula" [size]="250"></qr-code>
  </div>
</ion-content>