<ion-tabs color="primary">
  <ion-tab tabTitle="Scan" tabIcon="qr-scanner" [root]="tab1"></ion-tab>
  <ion-tab tabTitle="Historial" tabIcon="list" [root]="tab2"></ion-tab>
  <ion-tab tabTitle="MiQr" tabIcon="person" [root]="tab3"></ion-tab>
  <ion-tab tabTitle="Scan Personal" tabIcon="qr-scanner" [root]="tab4"></ion-tab>
</ion-tabs>