<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>QrAppMed</ion-title>
  </ion-navbar>
</ion-header>
<!-- style="background-color:#3e4449;" -->
<ion-content padding text-center >
  <br>
  <br>
  <img center src="../../assets/logo/uleam.png" height="200px" width="220px">
  <h3>
    <font color="#3C873A">QRMED</font>
  </h3>
  <ion-list>
    <form novalidate [formGroup]="formulario">
      <ion-item>
        <ion-label fixed>Usuario</ion-label>
        <ion-input (blur)="getRol($event)" type="text" formControlName="email"></ion-input>
      </ion-item>
      <!-- <div style="color: red; padding-top: 0.2rem" *ngIf="formulario.controls.email.errors && formulario.controls.email.dirty" class="danger" padding>Porfavor Ingrese un email valido.</div> -->

      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item *ngIf="mostrar" class="animated fadeIn">
        <ion-label>Rol</ion-label>
        <ion-select formControlName="rol">
          <ion-option *ngFor="let item of cmbRoles" value="{{ item.codigo }}">{{ item.nombre }}</ion-option>
        </ion-select>
      </ion-item>
    </form>
  </ion-list>
  <!-- <br> -->
  <div class="row" *ngIf="formulario.invalid">
    <ion-badge item-end color="danger">El botón se activará cuando complete toda la información</ion-badge>
  </div>
  <br>
  <button ion-button color="principal" outline block (click)="ingresar()" [disabled]="formulario.invalid">Iniciar
    Sesión</button>
  <br>
  <button ion-button outline (click)="registar()" color="principal" block >Registrar</button>
    <!-- {{ formulario.value | json }} -->
</ion-content>